APP_ENV=testing
APP_DEBUG=true

DB_CONNECTION=pgsql_testing
DB_TEST_HOST=127.0.0.1
DB_TEST_PORT=5432
DB_TEST_DATABASE=moodi_test
DB_TEST_USERNAME=postgres
DB_TEST_PASSWORD=
DB_TEST_SCHEMA=public
DB_TEST_SSLMODE=prefer

CACHE_STORE=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=array
MAIL_MAILER=array

VITE_HOST=localhost
VITE_PORT=5183
# VITE_HMR_HOST=localhost
